a,a:hover{
    transition:all .2s ease-in-out
}
a,header h1 a:hover,ins{
    text-decoration:none
}
article,aside,details,figcaption,figure,footer,header,header .logo,hgroup,menu,nav,section{
    display:block
}
header,section{
    width:100%;
    overflow:hidden
}
.two-column-layout,section.two-column{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal
}
.consulting-content-right ul,.events-lists .event-speakers ul,.post-meta-tags ul,nav ul{
    list-style:none
}
#nsolid-overview-values ul,.brand-grid ul,.long-copy ul,.main-footer ul,.master-detail .list-view ul,.sidebar ul,ul.checklist{
    list-style-type:none
}
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:0 0
}
input,select,table,table td{
    vertical-align:middle
}
ins,mark{
    background-color:#ff9;
    color:#000
}
a{
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:0 0;
    color:#4cb5ff
}
mark{
    font-style:italic;
    font-weight:700
}
del{
    text-decoration:line-through
}
abbr[title],dfn[title]{
    border-bottom:1px dotted;
    cursor:help
}
hr{
    height:1px
}
:root,body,html{
    width:100%;
    min-height:100%
}
html{
    font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial;
    color:#3D4647;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
body,html{
    background:#4C5859;
    font-size:16px;
    line-height:1.6em;
    -webkit-font-kerning:normal;
    -moz-font-kerning:normal;
    font-kerning:normal;
    width:100%;
    overflow-x:hidden
}
a:hover{
    color:#419ad9
}
.content-container{
    position:relative;
    margin:80px auto 0
}
section{
    position:relative;
    box-sizing:border-box
}
section.content-container{
    padding:0
}
section:last-of-type{
    padding-bottom:80px
}
.content-container{
    width:60rem;
    box-sizing:border-box
}
@media screen and (max-width:800px){
    .body *{
        box-sizing:border-box
    }
    body,html{
        position:relative;
        max-width:100%;
        width:100vw;
        font-size:16px
    }
    .content-container{
        padding:20px;
        margin:0 auto
    }
    section.content-container{
        padding:0
    }
    .content-container{
        width:100%;
        margin:0;
        box-sizing:border-box;
        padding:40px 20px 0
    }
    .content-container>*{
        padding:0
    }
}
h1,h2,h4,h5,h6{
    line-height:1.2em
}
h1,h2,h3,h4,h5,h6{
    display:block;
    margin:0 0 .125em;
    padding:0
}
h1{
    font-size:3.4rem;
    font-weight:200;
    letter-spacing:-.03em
}
@media screen and (max-width:800px){
    h1{
        font-size:2.25rem
    }
}
@-webkit-keyframes toggle-animation{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@keyframes toggle-animation{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
header.standard+section,header.standard+section .two-column-left,header.standard+section .two-column-right,header.standard+section>.content-container:first-child{
    margin-top:0;
    padding-top:0
}
header.standard .content-container svg{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:120px
}
section#content-error,section#content-error .content-container{
    position:relative;
    z-index:2
}
body.page-error,html.page-error{
    background:#2E3535;
    height:100%;
    color:#fff
}
body.page-error .background-image{
    background:url(assets/404-bg.jpg) center center no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    -webkit-animation:blurIn;
    animation:blurIn;
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-delay:5s;
    animation-delay:5s;
    -webkit-animation-iteration-count:1;
    animation-iteration-count:1;
    -webkit-animation-fill-mode:backwards;
    animation-fill-mode:backwards
}
section#content-error .content-container{
    padding:0
}
@-webkit-keyframes fadeIn{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@keyframes fadeIn{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@-webkit-keyframes blurIn{
    from{
        -webkit-filter:blur(75px);
        filter:blur(75px);
        opacity:.25
    }
    to{
        -webkit-filter:blur(0);
        filter:blur(0);
        opacity:1
    }
}
@keyframes blurIn{
    from{
        -webkit-filter:blur(75px);
        filter:blur(75px);
        opacity:.25
    }
    to{
        -webkit-filter:blur(0);
        filter:blur(0);
        opacity:1
    }
}
section#content-error .copy,section#content-error .navigation{
    width:50%
}
section#content-error h1{
    font-size:3.4rem;
    font-weight:600;
    line-height:1.2em;
    letter-spacing:-.01em
}
section#content-error p.explanation{
    font-size:2.25rem;
    line-height:1.2em;
    margin-top:.25em;
    font-weight:200;
    letter-spacing:-.01em
}
section#content-error .navigation,section#content-error p.explanation{
    -webkit-animation:fadeIn;
    animation:fadeIn;
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-iteration-count:1;
    animation-iteration-count:1;
    -webkit-animation-fill-mode:backwards;
    animation-fill-mode:backwards
}
section#content-error p.explanation#exp1{
    -webkit-animation-delay:.5s;
    animation-delay:.5s
}
section#content-error p.explanation#exp2{
    -webkit-animation-delay:2.5s;
    animation-delay:2.5s
}
section#content-error p.explanation#exp3{
    -webkit-animation-delay:5s;
    animation-delay:5s;
    font-weight:600
}
section#content-error .navigation{
    -webkit-animation-delay:6s;
    animation-delay:6s;
    margin-top:3rem
}
section#content-error .navigation .logo{
    color:#fff
}
section#content-error .navigation .logo img{
    width:240px;
    height:auto
}
section#content-error .navigation ul{
    margin-top:1.5rem;
    padding-top:1rem;
    border-top:1px solid rgba(255,255,255,.25);
    list-style:none;
    width:50%
}
section#content-error .navigation li a{
    font-size:1.5rem;
    display:block;
    padding:.5em 0;
    color:#fff;
    cursor:pointer
}
section#content-error .navigation li a:hover{
    color:#4cb5ff
}
@media screen and (max-width:800px){
    body.page-404 .background-image{
        background-position:center 80%
    }
    section#content-error{
        padding:20px
    }
    section#content-error .copy,section#content-error .navigation,section#content-error .navigation ul{
        width:100%
    }
    section#content-error .copy h1{
        font-size:3rem
    }
    section#content-error .navigation .logo{
        font-size:1.75rem
    }
    section#content-error .copy p.explanation{
        font-size:1.5rem;
        margin-top:.5em
    }
    section#content-error .navigation li a{
        display:block;
        padding:.5em 0;
        color:#fff;
        cursor:pointer
    }
}